<?xml version="1.0"?>

<configuration>
	<configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="urlrewritingnet"  requirePermission ="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
	</configSections>
  
  <!-- AppSettins ================================================= -->
  <appSettings>
	<!-- To disable IP blocking, just put empty string to value -->
	<add key="AllowIP" value="" />
    <add key="Config.Location" value="~\WebSetting.config"/>
  </appSettings>
  
  <!-- System.Web ================================================= -->
  <system.web>
    <pages validateRequest="false" />
    <customErrors mode="Off">
    </customErrors>
    <httpModules>
	  <add name="IpBlockingModule" type="ClearingHouse.IpBlockingModule"/>
    <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <compilation debug="true"></compilation>
    <authorization></authorization>
  </system.web>
  
  <!-- Spring ===================================================== -->
  <spring>
    <context>
      <!--<resource uri="config://spring/objects"/> -->
      <resource uri="~\WebContext.Config"/>
    </context>
  </spring>
  
  <!-- Log 4 Net ================================================== -->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ClearingHouseLog.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5000KB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="MQ"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="ExceptionFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ClearingHouseErrorLog.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="5000KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <root>
      <!--DEBUG OR INFO OR ERROR OR WARN OR ALL-->
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ExceptionFile"/>
    </root>
  </log4net>
  
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07"  >
	  <rewrites>
	    <add name="MemberChurn"  virtualUrl="^~/(.*)/memberchurn/(\w+)/churnValue"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/getChurnValue.aspx?code=$2&amp;oucode=$1"
            ignoreCase="true" />	
			<add name="MemberInfo"  virtualUrl="^~/(.*)/member/(.*)"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/getMember.aspx?code=$2&amp;oucode=$1"
            ignoreCase="true" />
	    <add name="UpdateDepositAdjustment"  virtualUrl="^~/depositadjust/update"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/createAdjust.aspx?type=deposit"
            ignoreCase="true" />
	    <add name="UpdateWithdrawalAdjustment"  virtualUrl="^~/withdrawaladjust/update"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/createAdjust.aspx?type=withdrawal"
		        ignoreCase="true" />
      <add name="GetDepositAdjustment"  virtualUrl="^~/(.*)/depositadjust/(.*)"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/getAdjust.aspx?type=deposit&amp;refNo=$2&amp;oucode=$1"
            ignoreCase="true" />
	    <add name="GetWithdrawalAdjustment"  virtualUrl="^~/(.*)/withdrawaladjust/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getAdjust.aspx?type=withdrawal&amp;refNo=$2&amp;oucode=$1"
		        ignoreCase="true" />
			<add name="DocumentVerifyStatus"  virtualUrl="^~/(.*)/DocVerify/(\w+)/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getDocumentVerifyStatus.aspx?code=$2&amp;docType=$3&amp;oucode=$1"
		        ignoreCase="true" />
			<add name="CreateMemberFirstDeposit"  virtualUrl="^~/(.*)/member/(.*)/firstDeposit"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/CreateMemberDeposit.aspx?code=$2&amp;oucode=$1"
		        ignoreCase="true" />
			<add name="UpdateMemberCashBalance"  virtualUrl="^~/member/(.*)/cashBalance"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/changeBalance.aspx?code=$1"
		        ignoreCase="true" />
			<add name="AdminInfo"  virtualUrl="^~/(.*)/admin/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getAdmin.aspx?code=$2&amp;oucode=$1"
		        ignoreCase="true" />
			<add name="GetListOfMemberSignUp"  virtualUrl="^~/(.*)/membersignup/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getMemberSignUp.aspx?month=$2&amp;oucode=$1"
		        ignoreCase="true" />
			<add name="VerifyAuthenticationToken"  virtualUrl="^~/(.*)/verifyAuthToken/(.*)/(.*)/(.*)"
	          rewriteUrlParameter="ExcludeFromClientQueryString"
	          destinationUrl="~/checkAuthToken.aspx?membercode=$2&amp;txtkey=$3&amp;ipaddress=$4&amp;oucode=$1"
	          ignoreCase="true" regexOptions="Compiled"/>
			<add name="VerifyAdminToken"  virtualUrl="^~/(.*)/verifyAdminAuthToken/(.*)/(.*)/(.*)"
	          rewriteUrlParameter="ExcludeFromClientQueryString"
	          destinationUrl="~/checkAuthToken.aspx?membercode=$2&amp;txtkey=$3&amp;ipaddress=$4&amp;oucode=$1&amp;userrole=admin"
	          ignoreCase="true" regexOptions="Compiled"/>
	    <add name="GetInvCurrency"  virtualUrl="^~/(.*)/currency/(.+)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getInvCurrency.aspx?oucode=$1&amp;currcode=$2"
		        ignoreCase="true" />
			<add name="GetCurrencyList"  virtualUrl="^~/(.*)/currency"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getCurrency.aspx?oucode=$1"
		        ignoreCase="true" />
			<add name="GetTotalMemberSignup"  virtualUrl="^~/(.*)/totalmembersignup/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getTotalMemberSignup.aspx?month=$2&amp;oucode=$1"
		        ignoreCase="true" />
      <add name="VerifyMemberCredentials"  virtualUrl="^~/(.*)/verifyMember/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/checkMember.aspx?membercode=$2&amp;oucode=$1"
		        ignoreCase="true" />
      <add name="SetMemberUnverified"  virtualUrl="^~/(.*)/unverifiedMember/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/setMemberUnverified.aspx?code=$2&amp;oucode=$1"
		        ignoreCase="true" />
      <add name="GetExpiredDocumentMemberList"  virtualUrl="^~/(.*)/expiredDocumentMemberList/(.*)"
		        rewriteUrlParameter="ExcludeFromClientQueryString"
		        destinationUrl="~/getExpiredDocMemList.aspx?date=$2&amp;oucode=$1"
		        ignoreCase="true" />
		</rewrites>
	</urlrewritingnet>
</configuration>
