<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net" >
  	<!-- Manager -->
  	<object id="MemberManager" type="Synet.ClearingHouse.Manager.Impl.MemberManagerImpl">
	    <property name="MemberDAO" ref="MemberDAO"/>
  	</object>
	
  	<object id="PaymentManager" type="Synet.ClearingHouse.Manager.Impl.PaymentManagerImpl">
	    <property name="PaymentDAO" ref="PaymentDAO"/>
      <property name="MemberDAO" ref="MemberDAO"/>
  	</object>
	 
  	<!-- Service -->
  	<object id="ClearingHouseService" type="Synet.ClearingHouse.Service.Impl.ClearingHouseServiceImpl">
		  <property name="MemberManager" ref="MemberManager"/>
		  <property name="PaymentManager" ref="PaymentManager"/>
  	</object>

  	<!-- DAO -->
  	<object id="MemberDAO" type="Synet.ClearingHouse.Dao.Impl.MemberDAOImpl"></object>
  	<object id="PaymentDAO" type="Synet.ClearingHouse.Dao.Impl.PaymentDAOImpl">
		<property name="MemberDAO" ref="MemberDAO"/>
	</object>
</objects>
