<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">  
  <configSections>
    <section name="Config.Database" enable="true"/>
  </configSections>
  
  <Config.Database>
    <add key="db.188Bet" value="Data Source=192.168.1.26;Initial Catalog=bet188;Persist Security Info=True;User ID=sa;Password=sb0305;Connection Timeout=30;Min Pool Size = 0;Max Pool Size = 100;Connection Reset = True;Connection Lifetime = 0;"/>
	  <add key="db.188Bet_log" value="Data Source=192.168.1.26;Initial Catalog=bet188_log;Persist Security Info=True;User ID=sa;Password=sb0305;Connection Timeout=30;Min Pool Size = 0;Max Pool Size = 100;Connection Reset = True;Connection Lifetime = 0;"/>
	  <add key="db.188Bet_statistic" value="Data Source=192.168.1.26;Initial Catalog=bet188_statistic;Persist Security Info=True;User ID=sa;Password=sb0305;Connection Timeout=30;Min Pool Size = 0;Max Pool Size = 100;Connection Reset = True;Connection Lifetime = 0;"/>
    <add key="db.188Bet_pass" value="Data Source=192.168.1.26;Initial Catalog=bet188_pass;Persist Security Info=True;User ID=sa;Password=sb0305;Connection Timeout=30;Min Pool Size = 0;Max Pool Size = 100;Connection Reset = True;Connection Lifetime = 0;"/>
  </Config.Database>

</configuration>
